html,body
{
	margin: 0;
	width: 100%;
}
header
{
	background-color: orange;
	position: fixed;
	width: 100%;
	opacity: 1;
	transition:opacity 0.25s linear;
}

header.hidden
{
	opacity: 0;
	/*display: none;*/
}
header h1
{
	display: inline;
	/*width: 80%;*/
	color: white;
}
header button
{
	float: right;
	min-height: 25px;
	min-width: 25px;
	height: 100%;
	background: orange;
	border: 2px orange groove;
	color: white;
	font-size: medium;
	margin: 1px;
}
input{
	margin: 2px;
	border: 1px solid grey;
	background: white;
	width: 98%;
	font-size: medium;
} 
section, pre{
	padding-top: 25px;
}

#in-progress{
	display: none;
}

#search {
	width: 100%;
}

#search table {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
}

#search tr{
	border-bottom: 1px solid grey;
	vertical-align: top;
}

.available {
	color: green;
}
